@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Public Sans"; /* You can name this whatever you want */
  src: url("../../fonts/PublicSans-Regular.ttf") format("truetype"); /* Path to the font */
}

.detailCard {
  font-size: 0.7vw;
  background: #193145;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 480px;
  justify-content: left;
  text-align: left;
  align-items: left;
  transform: translateX(-50%);
  display: flex;
}

.introduction {
  margin: 20px;
}

.cardTitleContainer {
  padding: 0;
  margin: 0;
}

.CardHeader {
  font-size: 32px;
  font-family: "Josefin Sans";
  margin: 0;
}

.CardTitle {
  font-family: "Josefin Sans";
  border-bottom: 2px solid #001829;
  padding: 2px 0;
  margin: 0;
}

.CardContent {
  margin-top: 5px;
  text-align: left;
  justify-content: left;
  font-family: "Public Sans";
}

.CardSubContent {
  margin-top: 5px;
  font-family: "Public Sans";
}
