.MonasteriesCard,
.PelingDanceCard {
  background: #2b455d;
  color: white;
}

.MonasteriesCardTitle {
  font-size: 15px;
  font-family: "Josefin Sans";
}

.MonasteriesCardContent {
  font-size: 27px;
  font-family: "Hammersmith One";
}

.MonasteriesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 69%;
  left: 70.5%;
  width: 250px;
  height: 90px;
}

.MonasteriesCardImg {
  position: fixed;
  top: 50%;
  left: 70.5%;
  width: 140px;
  height: 130px;
}

.PelingDanceCardImg {
  position: fixed;
  top: 82%;
  left: 72%;
  width: 160px;
  height: 90px;
}

.PelingDanceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 82%;
  left: 76.5%;
  width: 100px;
  height: 90px;
}

.PelingDanceCardTitle {
  font-size: 15px;
  font-family: "Josefin Sans";
  text-align: left;
}

.PelingDanceCardContent {
  font-size: 27px;
  font-family: "Hammersmith One";
  text-align: left;
}
