.MonasteriesCard,
.PelingDanceCard {
  background: #2b455d;
  color: white;
}

.MonasteriesCardTitle {
  font-size: 15px;
  font-family: "Josefin Sans";
  text-align: left;
}

.MonasteriesCardContent {
  font-size: 25px;
  font-family: "Hammersmith One";
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.MonasteriesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 75%;
  left: 72%;
  width: 250px;
  height: 90px;
}

.MonasteriesCardImg {
  position: fixed;
  top: 65%;
  left: 72%;
  width: 140px;
  height: 105px;
}

.MonasteriesCardImg img{
  width: 140px;
  height: 105px;
}

.PelingDanceCardImg{
  position: fixed;
  top: 84%;
  left: 73%;
  width: 160px;
  height: 90px;
}

.PelingDanceCardImg img{
  width: 160px;
  height: 90px;
}

.PelingDanceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 84%;
  left: 77.3%;
  width: 100px;
  height: 90px;
}

.PelingDanceCardTitle {
  font-size: 15px;
  font-family: "Josefin Sans";
  text-align: left;
}

.PelingDanceCardContent {
  font-size: 27px;
  font-family: "Hammersmith One";
  text-align: left;
}

.PelingDanceCard::before,
.MonasteriesCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/CardBgImg.png"); /* Fixed the path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  opacity: 0.15; /* Adjust opacity as needed */
  z-index: 0; /* Ensure the background stays behind the content */
}
