.TravellersCard {
  position: fixed;
  background: #6986a9;
  color: #001829;
  font-family: "Hammersmith One";
  font-size: 20px;
  left: 89%;
  top: 70.4%;
  height: 80px;
  width: 250px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}