.DriglamNamzhagTopCard {
  background: #aa5018;
  position: fixed;
  left: 86%;
  top: 36.5%;
  width: 400px;
  height: 180px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.DriglamNamzhagTopCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png"); /* Background image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  opacity: 0.18; /* Adjust opacity as needed */
  z-index: 0; /* Ensure the background stays behind the content */
}

.DriglamNamzhagTopCard p {
  /* margin: 20px; */
  color: white;
  font-family: "Public Sans";
  font-size: 13px;
  color: #FCD7C2;
}

