@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.pemaContainer {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.pemaText {
  position: fixed;
  left: 59%;
  bottom: 17%;
}

.pemaImage {
  position: fixed;
  bottom: 14.5%;
  left: 64.9%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.pemaImage img {
  object-fit: fill;
  width: 230px;
  height: 270px;
  z-index: 10;
}

.NameCardContainer {
  position: fixed;
  top: 77.8%;
  left: 67.4%;
}

.ActiveCard {
  position: fixed;
  top: 79%;
  left: 65%;
}

.ActiveImage {
  position: fixed;
  bottom: 14.5%;
  left: 61.7%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.ActiveImage img {
  object-fit: fill;
  width: 230px;
  height: 270px;
  z-index: 10;
}

.IntroCard {
  position: fixed;
  left: 62.5%;
  top: 84%;
}

.HistoricCard {
  position: fixed;
  left: 62.5%;
  top: 84%;
}

.LineageCard {
  position: fixed;
  left: 62.5%;
  top: 84.5%;
}

.NaringDragCard {
  position: fixed;
  left: 62.5%;
  top: 84.5%;
}

.BurningLakeCard {
  position: fixed;
  left: 62.5%;
  top: 84.5%;
}

.NaringDragBook {
  position: fixed;
  left: 60%;
  top: 84.5%;
}

.MonasteriesCard {
  position: fixed;
  left: 62.5%;
  top: 84.5%;
}

.PelingDanceCard {
  position: fixed;
  left: 62.5%;
  top: 84.5%;
}

.MonasteriesEnlargedImage {
  position: fixed;
  left: 61.8%;
  top: 85%;
  width: 135px;
  height: 175px;
  border: 10px solid white; /* This adds a white border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for a Polaroid effect */
  object-fit: fill;
}

.MonasteriesImg1 {
  position: fixed;
  left: 61.5%;
  top: 85%;
  width: 180px;
  height: 180px;
}

.MonasteriesImg2 {
  position: fixed;
  left: 65.6%;
  top: 84.5%;
  width: 100px;
  height: 100px;
}

.MonasteriesImg3 {
  position: fixed;
  left: 67.6%;
  top: 85.5%;
  width: 90px;
  height: 80px;
}

.MonasteriesImg4 {
  position: fixed;
  left: 69.3%;
  top: 83.2%;
  width: 120px;
  height: 130px;
}

.MonasteriesImg5 {
  position: fixed;
  left: 71.9%;
  top: 84.5%;
  width: 150px;
  height: 150px;
}

.MonasteriesImg6 {
  position: fixed;
  left: 65.6%;
  top: 88.2%;
  width: 130px;
  height: 130px;
}

.MonasteriesImg7 {
  position: fixed;
  left: 68.4%;
  top: 88.2%;
  width: 155px;
  height: 160px;
}

.MonasteriesImg8 {
  position: fixed;
  left: 71.9%;
  top: 90.4%;
  width: 100px;
  height: 100px;
}

.SmallPeilingCard {
  cursor: pointer;
  position: fixed;
  background: #c9d7ee;
  left: 74.3%;
  top: 91%;
  padding: 0.3vw;
  width: 120px;
}

.SmallPeilingCardHeader {
  font-family: "Josefin Sans";
}

.SmallPeilingCardTitle {
  font-family: "Hammersmith One";
}

.PelingDanceVideo {
  cursor: pointer;
  position: fixed;
  left: 65%;
  top: 85%;
  width: 200px;
  height: 200px;
}
