@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.TibetanContainer {
  position: fixed;
  top: 78%;
  left: 40%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.tibetanImage {
  position: fixed;
  top: 55%;
  left: 42%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.tibetanImage img {
  object-fit: fill;
  width: 500px;
  height: 330px;
  z-index: 10;
}

.TibetanText {
  position: fixed;
  left: 37.5%;
  top: 67%;
}

.tibetanNameCardContainer {
  position: fixed;
  left: 52.8%;
  top: 75%;
}

.TibetanIntroCard {
  position: fixed;
  left: 46%;
  top: 28%;
}

.ArrivalCard {
  position: fixed;
  left: 48.9%;
  top: 23%;
}

.SchoolsCard {
  position: fixed;
  left: 48%;
  top: 32.5%;
}

.PopularSchoolsCard {
  position: fixed;
  left: 43%;
  top: 19.5%;
}

.DrukpaKagyuCard {
  position: fixed;
  left: 44%;
  top: 19%;
}

.KurjeLhakhangTemplesImgContainer {
  position: fixed;
}

.KurjeLhakhangTemplesImg1 {
  position: fixed;
  left: 47.3%;
  top: 17%;
  width: 205px;
  height: 200px;
}

.KurjeLhakhangTemplesImg2 {
  position: fixed;
  left: 52.1%;
  top: 6.5%;
  width: 153px;
  height: 149px;
}

.KurjeLhakhangTemplesImg3 {
  position: fixed;
  left: 52.1%;
  top: 24%;
  width: 153px;
  height: 149px;
}

.KurjeLhakhangTemplesImg4 {
  position: fixed;
  left: 55.5%;
  top: 13%;
  width: 135px;
  height: 140px;
}

.KurjeLhakhangTemplesImg5 {
  position: fixed;
  left: 55.5%;
  top: 29%;
  width: 110px;
  height: 118px;
}

.KurjeLhakhangTemplesImg6 {
  position: fixed;
  left: 55.49%;
  top: 42.5%;
  width: 105px;
  height: 100px;
}

.KurjeLhakhangTemplesImg7 {
  position: fixed;
  left: 55.5%;
  top: 54%;
  width: 98px;
  height: 90px;
}

.KurjeLhakhangTemplesImg8 {
  position: fixed;
  left: 52.9%;
  top: 42%;
  width: 120px;
  height: 120px;
}

.KurjeLhakhangTemplesImg9 {
  position: fixed;
  left: 52.9%;
  top: 56%;
  width: 120px;
  height: 110px;
}

.KurjeLhakhangTemplesImg10 {
  position: fixed;
  left: 50.7%;
  top: 42%;
  width: 108px;
  height: 100px;
}

.KurjeLhakhangTemplesImg11 {
  position: fixed;
  left: 50.7%;
  top: 53%;
  width: 108px;
  height: 100px;
}

.KurjeLhakhangTemplesImg12 {
  position: fixed;
  left: 49.5%;
  top: 2.5%;
  width: 120px;
  height: 125px;
}

.KurjeLhakhangTemplesImg13 {
  position: fixed;
  left: 47.6%;
  top: 42%;
  width: 140px;
  height: 130px;
}

.DrugpaKagyuImg1 {
  position: fixed;
  left: 46%;
  top: 17%;
  width: 130px;
}

.DrugpaKagyuImg2 {
  position: fixed;
  left: 46%;
  top: 31.5%;
  width: 130px;
}

.DrugpaKagyuImg3 {
  position: fixed;
  left: 48.8%;
  top: 23%;
  width: 160px;
  height: 190px;
}

.DrugpaKagyuImg4 {
  object-fit: fill;
  position: fixed;
  left: 52.4%;
  top: 12%;
  width: 140px;
  height: 130px;
}

.DrugpaKagyuImg5 {
  object-fit: fill;
  position: fixed;
  left: 52.4%;
  top: 27%;
  width: 90px;
  height: 90px;
}

.DrugpaKagyuImg6 {
  object-fit: fill;
  position: fixed;
  left: 54.1%;
  top: 27%;
  width: 90px;
  height: 90px;
}
.DrugpaKagyuImg7 {
  position: fixed;
  left: 52.4%;
  top: 36.5%;
  width: 130px;
  height: 120px;
}
.DrugpaKagyuImg8 {
  position: fixed;
  left: 52.4%;
  top: 50.5%;
  width: 110px;
  height: 90px;
}
.DrugpaKagyuImg9 {
  position: fixed;
  left: 54.6%;
  top: 51%;
  width: 80px;
  height: 60px;
}

.DrugpaKagyuImg10 {
  position: fixed;
  left: 50.3%;
  top: 46.5%;
  width: 100px;
  height: 90px;
}

.DrugpaKagyuImg11 {
  position: fixed;
  left: 50.3%;
  top: 56.5%;
  width: 100px;
  height: 90px;
}

.DrugpaKagyuImg12 {
  position: fixed;
  left: 47.4%;
  top: 46.5%;
  width: 130px;
  height: 100px;
}

.DrugpaKagyuImg13 {
  position: fixed;
  left: 48.4%;
  top: 58%;
  width: 90px;
  height: 70px;
}

.DrugpaKagyuImg14 {
  position: fixed;
  left: 50.1%;
  top: 3%;
  width: 90px;
  height: 90px;
}

.DrugpaKagyuImg15 {
  position: fixed;
  left: 50.1%;
  top: 12%;
  width: 110px;
  height: 100px;
}

.DrugpaKagyuImg16 {
  position: fixed;
  left: 48.8%;
  top: 6.8%;
  width: 70px;
  height: 80px;
}

.DrugpaKagyuImg17 {
  position: fixed;
  left: 48.8%;
  top: 15%;
  width: 70px;
  height: 80px;
}

.DrugpaKagyuImg18 {
  position: fixed;
  left: 46.3%;
  top: 6%;
  width: 120px;
  height: 100px;
}
