.LanguageIcon {
  position: fixed;
  background: #380100;
  cursor: pointer;
}

.LanguageWhiteIcon {
  position: fixed;
  background: #2b455d;
  width: 75px;
  height: 75px;
  left: 64.5%;
  top: 95.5%;
  cursor: pointer;
}

.LanguageIconContainer img {
  width: 36px;
  height: 30px;
}

.LanguageIconContainer {
  margin: 20px;
}
