.LanguageIcon {
  position: fixed;
  background: #380100;
  width: 55px;
  height: 50px;
  left: 64.5%;
  top: 95.5%;
  cursor: pointer;
  z-index: 1;
}

.LanguageIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
}

.LanguageWhiteIcon {
  position: fixed;
  background: #2b455d;
  width: 55px;
  height: 50px;
  left: 64.5%;
  top: 95.5%;
  cursor: pointer;
  z-index: 1;
}

.LanguageWhiteIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.18;
  pointer-events: none;
}

.LanguageIconContainer img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}

.LanguageIconContainer {
  margin: 13px;
  cursor: pointer;
  z-index: 2;
}
.VerticalLine {
  position: absolute;
  width: 2px;
  background-color: #000; /* You can change the line color */
  top: 0;
  left: 50%; /* Center the line horizontally */
}

.LanguageIconContains{

}
