.LanguageIcon {
    position: fixed;
    background: #2b455d;
    width: 80px;
    height: 80px;
    /* left: 64.5%;
    top: 95.5%; */
    cursor: pointer;
  }
  
  .LanguageWhiteIcon {
    position: fixed;
    background: #2b455d;
    width: 80px;
    height: 80px;
    /* left: 64.5%;
    top: 95.5%; */
    cursor: pointer;
  }

  .LanguageWhiteIcon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/src/assests/BgImgs/IconsBgImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.3; 
    pointer-events: none; 
  }
  
  .HomeIconContainer img {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
  }
  
  .HomeIconContainer {
    margin: 30px;
    cursor: pointer;
    z-index: 1;
  }
  