.sealImage {
  position: fixed;
  object-fit: fill;
  top: 71.2%;
  left: 90.8%;
  width: 250px;
  height: 230px;
}

.sealOfZhabdrungStatementCard {
  position: fixed;
  background: #2b455d;
  color: white;
  width: 320px;
  left: 82.6%;
  top: 70.4%;
}

.sealOfZhabdrungStatementCard p {
  font-family: "Hammersmith One";
  font-size: 9px;
}
