.revelationsCard,
.burningLakeCard {
  position: fixed;
  background: #2b455d;
  color: white;
  cursor: pointer;
}

.revelationsCard::before,
.burningLakeCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/CardBgImg.png"); /* Fixed the path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  opacity: 0.15; /* Adjust opacity as needed */
  z-index: 0; /* Ensure the background stays behind the content */
}

.title {
  margin: 30px 0 0 20px;
  font-size: 12px;
  font-family: "Josefin Sans";
  text-align: left;
}

.header {
  margin-left: 20px;
  font-size: 20px;
  font-family: "Hammersmith One";
  text-align: left;
}

.revelationsCard {
  left: 70.8%;
  top: 85%;
  width: 270px;
  height: 100px;
}

.burningLakeCard {
  left: 70.8%;
  top: 90%;
  width: 270px;
  height: 100px;
}

.burningLakeTitle {
  margin: 30px 20px 0 0;
  font-size: 12px;
  font-family: "Josefin Sans";
  text-align: right;
}

.burningLakeHeader {
  margin-right: 20px;
  font-size: 20px;
  font-family: "Hammersmith One";
  text-align: right;
}

.NaringDragBookImg{
  position: fixed;
  top: 83.6%;
  left: 75.3%;
  width: 100px;
  height: 130px;
}

.NaringDragBookImg img{
  width: 100px;
  height: 130px;
}

.burningLakeBookImg{
  position: fixed;
  top: 90.5%;
  left: 71%;
  width: 100px;
  height: 130px;
}

.burningLakeBookImg img{
  width: 100px;
  height: 130px;
}

