/* Trial.module.css */
.flipbookContainer {
  position: fixed;
}

.flipBook {
  position: fixed;
  width: 50px;
}

.page {
  position: fixed;
}

.page img {
  position: fixed;
  width: 230px;
  height: 310px;
  object-fit: fill;
}

.page,
.transparentPage {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.transparentPage {
  background-color: transparent;
}

.transparentPage img {
  opacity: 0;
}
