@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.TibetanContainer {
  position: fixed;
  top: 78%;
  left: 40%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.tibetanImage {
  position: fixed;
  top: 83.5%;
  left: 42%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.tibetanImage img {
  object-fit: fill;
  width: 500px;
  height: 330px;
  z-index: 10;
}

.TibetanText {
  position: fixed;
  left: 37.9%;
  top: 86.9%;
}

.tibetanNameCardContainer {
  position: fixed;
  left: 53%;
  top: 89.6%;
}

.TibetanIntroCard {
  position: fixed;
  left: 46%;
  top: 74%;
}

.ArrivalCard {
  position: fixed;
  left: 48.9%;
  top: 72.5%;
}

.SchoolsCard {
  position: fixed;
  left: 48%;
  top: 76%;
}

.PopularSchoolsCard {
  position: fixed;
  left: 43%;
  top: 72%;
}

.DrukpaKagyuCard {
  position: fixed;
  left: 44%;
  top: 71%;
}

.KurjeLhakhangTemplesImgContainer {
  position: fixed;
}

.KurjeLhakhangTemplesImg1 {
  position: fixed;
  left: 50.4%;
  top: 78.5%;
  width: 350px;
  height: 250px;
}

.KurjeLhakhangTemplesImg2 {
  position: fixed;
  left: 46.5%;
  top: 78.6%;
  width: 180px;
  height: 130px;
}

.KurjeLhakhangTemplesImg3 {
  position: fixed;
  left: 50.5%;
  top: 72.9%;
  width: 150px;
  height: 140px;
}

.KurjeLhakhangTemplesImg4 {
  position: fixed;
  left: 46.5%;
  top: 73%;
  width: 180px;
  height: 140px;
}
