.flipbookContainer {
  position: fixed;
  cursor: pointer;
}

.flipBook {
  position: fixed;
}

.page {
  position: fixed;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  z-index: 1;
}

.page img {
  position: fixed;
  width: 101%;
  height: 95%;
  object-fit: fill;
  transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}

.page,
.transparentPage {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.transparentPage {
  background-color: transparent;
}

.transparentPage img {
  opacity: 0;
}

.revelationsCard {
  position: fixed;
  background: #c9d7ee;
  cursor: pointer;
  left: 68%;
  top: 96.2%;
  height: 70px;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.revelationsCard::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/CardBgImg.png"); /* Fixed the path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  opacity: 0.15; /* Adjust opacity as needed */
  z-index: 0; /* Ensure the background stays behind the content */
}

.title {
  font-size: 12px;
  font-family: "Josefin Sans";
  color: #001829;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 20px;
  font-family: "Hammersmith One";
  color: #001829;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 480px) {
  .flipBook {
    width: 100%; /* Full width on small devices */
    height: auto; /* Maintain aspect ratio */
  }

  .title,
  .header {
    font-size: 8px; /* Adjust font size for smaller screens */
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fadeInHidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
