.LanguageIcon {
  position: fixed;
  background: #2b455d; /* Fallback background color */
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 100;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 

}

.LanguageIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Set background image opacity */
  pointer-events: none; /* Allow clicks to pass through */
}

.LanguageWhiteIcon {
  position: fixed;
  background: #2b455d; /* Fallback background color */
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 100; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 

}

.LanguageWhiteIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Set background image opacity */
  pointer-events: none; /* Allow clicks to pass through */
}

.HomeIconContainer {
  margin: 30px;
  cursor: pointer;
  position: relative; /* Position relative to stack above the background */
  z-index: 200; /* Ensure this is higher than the background */
}

.HomeIconContainer img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative; /* Stack the image above the background */
  z-index: 200; /* Ensure this is higher than the background */
}
