.LanguageWhiteIcon {
  position: fixed;
  background: #2b455d;
  width: 120px;
  height: 120px;
  left: 63.5%;
  top: 89%;
  cursor: pointer;
}

.LanguageIcon {
  position: fixed;
  background: #380100;
  cursor: pointer;
}

.HomeIconContainer img {
  width: 20px;
  height: 20px;
}

.HomeIconContainer {
  margin: 40px;
  cursor: pointer;
}
