.PreviousIconWhiteContainer {
  position: fixed;
  background: #2b455d; /* Fallback background color */
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 199; /* Ensure this is lower than the icon */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.PreviousIconWhiteContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Set background image opacity */
  pointer-events: none; /* Allow clicks to pass through */
  z-index: 0; /* Ensure this is behind other content */
}

.PreviousIconContainer {
  position: fixed;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 199; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.PreviousIconContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/IconsBgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Set background image opacity */
  pointer-events: none; /* Allow clicks to pass through */
  z-index:0; /* Ensure this is behind other content */
}

.PreviousIcon {
  position: relative;
  margin-top: 30px; /* Adjust this value as needed */
  width: 20px;
  height: 20px;
  color: white; /* Icon color */
  z-index: 200/* Ensure this is above everything */
}
