.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-img,
.bottom-img {
  width: 100%; /* Full width to prevent cutoff */
  height: 200%; /* Maintain aspect ratio */
  object-fit: fill;
}

.main-content {
  flex-grow: 1; /* Takes up remaining space between top and bottom */
}
