.SupineContainer {
  position: fixed;
}

.SupineImage {
  position: fixed;
  left: 4.6%;
  top: 86%;
  width: 450px;
  height: 260px;
  z-index: 10;
}

.SupineImage img {
  object-fit: fill;
  z-index: 10;
}

.SupineText {
  position: fixed;
  left: 0.3%;
  top: 88%;
}

.SupineNameCardContainer {
  position: fixed;
  left: 13.2%;
  top: 90%;
}

.SupineIntroCard {
  position: fixed;
  left: 5%;
  top: 72%;
}

.SupineIntroduction {
  position: fixed;
  left: 7%;
  top: 74.7%;
}

.ReligiousCard {
  position: fixed;
  left: 14%;
  top: 76.8%;
}

.HimalayanCard {
  position: fixed;
  left: 14%;
  top: 76.8%;
}

.BhutanCard {
  position: fixed;
  left: 14%;
  top: 75%;
}

.JamBayCard {
  position: fixed;
  left: 4.4%;
  top: 70%;
}

.KyichuCard {
  position: fixed;
  left: 4.4%;
  top: 72.5%;
}
