.SupineContainer {
  position: fixed;
}

.SupineImage {
  position: fixed;
  left: 4%;
  top: 85.5%;
  width: 480px;
  height: 290px;
  z-index: 10;
}

.SupineImage img {
  object-fit: fill;
  z-index: 10;
}

.SupineText {
  position: fixed;
  left: 0.3%;
  top: 88%;
}

.SupineNameCardContainer {
  position: fixed;
  left: 13.2%;
  top: 90%;
}

.SupineIntroCard {
  position: fixed;
  left: 5%;
  top: 71%;
}

.SupineIntroduction {
  position: fixed;
  left: 7%;
  top: 74.1%;
}

.ReligiousCard {
  position: fixed;
  left: 14%;
  top: 76.8%;
}

.HimalayanCard {
  position: fixed;
  left: 14%;
  top: 76.8%;
}

.BhutanCard {
  position: fixed;
  left: 14%;
  top: 75%;
}

.JamBayCard {
  position: fixed;
  left: 4.4%;
  top: 70%;
}

.KyichuCard {
  position: fixed;
  left: 4.4%;
  top: 72.5%;
}

.JamBayImages {
  position: fixed;
}

.palaceImg1 {
  position: fixed;
  left: 8.5%;
  top: 78.5%;
  width: 210px;
  height: 220px;
}

.palaceImg2 {
  position: fixed;
  left: 13.4%;
  top: 77%;
  width: 200px;
  height: 190px;
}

.JamBayImagesCard {
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 85.5%;
  left: 13.8%;
  cursor: pointer;
  width: 200px;
  height: 90px;
  display: flex;
  background: #e5e7d5;
  color: #3c3e29;
  font-family: "Hammersmith One";
  font-size: 25px;
}

.JamBayImagesCard p {
}

.KyichuImg1 {
  position: fixed;
  left: 8.5%;
  top: 78.5%;
  width: 210px;
  height: 220px;
}

.KyichuImg2 {
  position: fixed;
  left: 13.4%;
  top: 77%;
  width: 200px;
  height: 190px;
}

.KyichuImg3 {
  position: fixed;
  left: 13.5%;
  top: 76.5%;
  width: 130px;
  height: 180px;
}

.KyichuImg4 {
  position: fixed;
  left: 9.7%;
  top: 83%;
  width: 170px;
  height: 150px;
}

.KyichuImagesCard {
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 85.5%;
  left: 13.8%;
  cursor: pointer;
  width: 200px;
  height: 90px;
  display: flex;
  background: #abb176;
  color: #3c3e29;
  font-family: "Hammersmith One";
  font-size: 24px;
}

.Puzzle {
  position: fixed;
  left: 4.6%;
  top: 86%;
  width: 450px;
  height: 260px;
  z-index: 10;
}

/* 
.animatedImg {
  animation: scaleUp 2s infinite alternate ease-in-out;
}

.animatedCard {
  animation: fadeIn 1.5s ease-in-out;
}

.animatedIcon {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animatedImg {
  animation: scaleUp 2s infinite alternate ease-in-out;
}

.animatedCard {
  animation: fadeIn 1.5s ease-in-out;
}

.animatedIcon {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */
