@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Public Sans"; /* You can name this whatever you want */
  src: url("../../fonts/PublicSans-Regular.ttf") format("truetype"); /* Path to the font */
}

@keyframes backgroundLoop {
  0% {
    background-position: 0% 0%; /* Start from the left */
  }
  50% {
    background-position: 100% 0%; /* Move to the right */
  }
  100% {
    background-position: 0% 0%; /* Move back to the left */
  }
}


.detailCard {
  font-size: 0.7vw;
  background: #193145;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 480px;
  justify-content: left;
  text-align: left;
  align-items: left;
  transform: translateX(-50%);
  display: flex;
  padding: 13px;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px; /* Thickness of the line */
 background: rgb(25, 49, 69, 2);
 /* Set to your desired color */
  z-index: 1;
}

.detailCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/CardBgImg.png");
  background-size: 200% 100%; /* Cover double the width for smooth animation */
  animation: backgroundLoop 10s ease-in-out infinite; /* Background animation */
  opacity: 0.2; /* Set opacity here */
  z-index: -1;
}


.introduction {
  margin: 15px;
}

.cardTitleContainer {
  padding: 0;
  margin: 0;
}

.CardHeader {
  font-size: 32px;
  font-family: "Josefin Sans";
  margin: 0;
}

.CardTitle {
  font-family: "Josefin Sans";
  padding: 2px 0;
  margin: 0;
  font-size: 20px;
}

.CardContent {
  margin-top: 5px;
  text-align: left;
  justify-content: left;
  font-family: "Public Sans";
  font-size: 11.3px;
}

.CardSubContent {
  margin-top: 5px;
  font-family: "Public Sans";
  font-size: 11.3px;
}


.borderBottom{
  padding: 0;
  margin: 0;
  height: 1px;
  border: none;
  margin-bottom: 5px;
}