@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Public Sans"; /* You can name this whatever you want */
  src: url("../../fonts/PublicSans-Regular.ttf") format("truetype"); /* Path to the font */
}

.detailCard {
  position: fixed;
  font-size: 0.7vw;
  background: #193145;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 787px;
  height: 410px;
  justify-content: left;
  text-align: left;
  align-items: left;
  top: 80.5%;
  left: 67%;
  transform: translateX(-50%);
  display: flex;
}

.introduction {
  margin: 17px;
}

.CardHeader p {
  font-size: 32px;
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
}

.CardHorizontalLine {
  position: fixed;
  width: 19vw;
  height: 0.2vw;
  bottom: 12%;
  left: 67.5%;
  background-color: #001829;
}

.CardHorizontalLineWhite {
  position: fixed;
  width: 19vw;
  height: 0.2vw;
  bottom: 12%;
  left: 67.5%;
  background-color: #6a1f11;
}

.CardTitle {
  font-size: 64px;
  font-weight: 300;
  font-family: "Josefin Sans";
  border-bottom: 2px solid #001829;
  padding: 2px;
}

.CardContent {
  padding: 0;
  margin: 0;
  text-align: left;
  justify-content: left;
  font-size: 18px;
  font-family: "Public Sans";
}

.cardTitleContainer {
  display: flex;
  flex-direction: column;
}
