@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Public Sans"; /* You can name this whatever you want */
  src: url("../../fonts/PublicSans-Regular.ttf") format("truetype"); /* Path to the font */
}

@keyframes backgroundLoop {
  0% {
    background-position: 0% 0%; /* Start from the left */
  }
  100% {
    background-position: 100% 0%; /* Move to the right */
  }
}


.detailCard {
  font-size: 0.7vw;
  background: #193145;
  color: white;
  z-index: 1;
  width: 530px;
  justify-content: left;
  text-align: left;
  align-items: left;
  left: 0;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.5s;
  transform-origin: left; 
  margin: 0;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px; /* Thickness of the line */
 background: rgb(25, 49, 69, 2);
 /* Set to your desired color */
  z-index: 1;
}

.detailCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/CardBgImg.png");
  background-size: 200% 100%;
  animation: backgroundLoop 10s linear infinite;
  opacity: 0.2; /* Set opacity here */
  z-index: -1; /* Place it behind the content */
}



.introduction {
  margin: 15px;
}

.CardHeader {
  font-family: "Josefin Sans";
}

.CardTitle {
  font-family: "Josefin Sans";
  border-bottom: 2px solid #001829;
  padding-bottom: 5px;
  font-weight: bolder;
}

.CardContent {
  margin-top: 5px;
  text-align: left;
  justify-content: left;
  font-family: "Public Sans";
  font-size: 11px;
}
