.overlay-image-container {
  display: flex;
  position: absolute;
  height: 10%;
  bottom: 10%;
  right: 5%;
  flex-direction: column;
  align-items: center;
}

.overlay-img {
  position: absolute;
  height: auto;
  max-width: 100%;
}

.year-container {
  font-size: 6vw; /* Increased for larger screens */
  color: white;
  font-weight: 400;
  text-align: center;
}

.card {
  padding: 2%;
  margin-top: 5%;
  margin-left: 0;
  background: white;
  border-radius: 35px;
  border: 3px solid black;
  cursor: pointer;
  transition: transform 0.5s ease;
  width: 80%; /* Adjusted for better proportion on large screens */
  max-width: 600px; /* Increased max width for larger screens */
  align-self: center;
}

.card p {
  font-size: 5vw; /* Increased for larger screens */
  margin: 2% 5%;
  text-align: center;
}

.additional-card {
  margin-top: 5%;
  background: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 2%;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 80%;
  max-width: 600px;
  align-self: center;
}

.additional-text {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-align: center;
}

.additional-text.fade-in {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.additional-text.slide-up {
  animation: scaleUpSlide 0.5s ease forwards;
}

@media (max-width: 768px) {
  .year-container {
    font-size: 5vw;
  }
  .card p {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .year-container {
    font-size: 4vw;
  }
  .card p {
    font-size: 6vw;
  }
}

@media (min-width: 3840px) {
  .year-container {
    font-size: 6vw; /* Adjust for larger screens */
  }
  .card p {
    font-size: 4vw; /* Scale appropriately for 4K */
  }
}
