@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.GuruContainer {
  position: fixed;
  top: 78%;
  left: 10%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.GuruImage {
  position: fixed;
  top: 71.5%;
  left: 26.3%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.GuruImage img {
  object-fit: fill;
  width: 200px;
  height: 270px;
  z-index: 10;
}

.GuruText {
  position: fixed;
  left: 20%;
  top: 73.5%;
}

.GuruNameCardContainer {
  position: fixed;
  left: 30.5%;
  top: 75%;
}

.GuruIntroCard {
  position: fixed;
  left: 29.5%;
  top: 80%;
}

.GuruHistoricCard {
  position: fixed;
  left: 24%;
  top: 81.2%;
}

.GuruKurjeLhakhangCard {
  position: fixed;
  left: 24%;
  top: 85%;
  background: pink;
}
