.WideCard {
  cursor: pointer;
  background: #ffc571;
  color: #613900;
  width: 260px;
  height: 25px;
  padding: 0.1vw;
  margin-bottom: 5px;
  display: flex; /* Enable flexbox for cards */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  position: relative; /* For positioning the background image */
  overflow: hidden; /* Prevent overflow */
}

/* Background image for WideCard */
.WideCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/BgImgDeSaturated.png"); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25; /* Background image opacity */
  z-index: 0; /* Ensure background stays behind content */
  pointer-events: none; /* Prevent interaction with the background */
}

/* Ensure the text content stays on top */
.WideCard > * {
  z-index: 1; /* Content on top of the background */
}

.WideCardHeader {
  font-family: "Josefin Sans";
  font-size: 8px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.WideCardPara {
  font-size: 6.5px;
}

.slideIn {
  animation: slideIn 1.2s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Active card style */
.activeCard {
  background-color: #c87e12;
  color: #fadfb6;
}
