@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.ZhabrungContainer {
  position: fixed;
  top: 78%;
  left: 75%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.pemaText {
  position: fixed;
  left: 81.2%;
  top: 88.2%;
}

.ZhabrungImage {
  position: fixed;
  top: 84.2%;
  left: 86.3%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.ZhabrungImage img {
  object-fit: fill;
  width: 200px;
  height: 330px;
  z-index: 10;
}

.NameCardContainer {
  position: fixed;
  left: 90%;
  top: 90.2%;
}

.IntroCard {
  position: fixed;
  left: 82.3%;
  top: 73.5%;
}

.ZhabrungHistoricCard {
  position: fixed;
  left: 89.8%;
  top: 73.5%;
}

.ZhabrungReligousCard {
  position: fixed;
  left: 89.7%;
  top: 78.5%;
}

.SealCard {
  position: fixed;
  left: 91.1%;
  top: 81%;
}

.PoliticalCardContains {
  position: fixed;
  left: 90%;
  top: 74.3%;
}

.TravellerCardContains {
  position: fixed;
  left: 90%;
  top: 70.5%;
}

.AdministrationCardContains {
  position: fixed;
  left: 90%;
  top: 74%;
}

.DriglamCardContains {
  position: fixed;
  left: 90%;
  top: 79.3%;
}

.SecrecyAtDeathCardContains {
  position: fixed;
  left: 90%;
  top: 72.4%;
}
