.Header {
  color: white;
  font-family: "Josefin Sans";
  font-size: 45px;
  position: fixed;
  z-index: 3;
  left: 43.5%;
  top: 48.9%;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.horizontalLine1 {
  position: fixed;
  bottom: 56.5%;
  left: 0.1%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  z-index: 1;
  border-color: transparent;
}

.horizontalLine2 {
  bottom: 43.5%;
  left: 0.1%;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  z-index: 1;
  border-color: transparent;
}

.radioBtn,
.radioBtnTwo {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 10; /* Higher z-index to ensure the buttons appear on top of the lines */

}

.supineRadioBtn,
.guruRadioBtn,
.tibetanRadioBtn,
.pemaRadioBtn,
.zhabrugRadioBtn,
.supineRadioBtnTwo,
.guruRadioBtnTwo,
.tibetanRadioBtnTwo,
.pemaRadioBtnTwo,
.zhabrugRadioBtnTwo {
  position: fixed;
  width: 30px;
  height: 30px;
  /* background-color: #82C5C4; */

}

.radioBtn {
  margin: 0;
  padding: 0;
  position: fixed;
}

.supineRadioBtn {
  position: fixed;
  left: 8.4%;
  top: 55.8%;
}

.Year {
  position: fixed;
  font-family: "Josefin Sans";
  font-size: 33px;
  color: white;
}

.YearTwo {
  font-family: "Josefin Sans";
  font-size: 33px;
  color: white;
  /* transform: rotate(180deg); */

}

.supine {
  position: fixed;
  bottom: 45%;
  left: 6.8%;
}

.guruRadioBtn {
  position: fixed;
  left: 28.5%;
  top: 55.8%;
}

.guru {
  position: fixed;
  bottom: 45%;
  left: 26.8%;
}

.tibetanRadioBtn {
  position: fixed;
  left: 49%;
  top: 55.8%;
}

.tibetan {
  position: fixed;
  bottom: 45%;
  left: 47%;
}

.pemaRadioBtn {
  position: fixed;
  left: 67%;
  top: 55.8%;
}

.pema {
  position: fixed;
  bottom: 45%;
  left: 65.1%;
}

.zhabrugRadioBtn {
  position: fixed;
  left: 87.6%;
  top: 55.8%;
}

.zhabrug {
  position: fixed;
  bottom: 45%;
  left: 85.8%;
}

.radioBtnFrst {
  margin: 0;
  padding: 0;
  position: fixed;
}

.radioBtnTwo {
  margin: 0;
  padding: 0;
  position: fixed;
}

.supineRadioBtnTwo {
  position: fixed;
  left: 10.5%;
  top: 42.7%;
}

.supineTwo {
  position: fixed;
  top: 45%;
  left: 8.8%;
  transform: rotate(180deg);
}

.guruRadioBtnTwo {
  position: fixed;
  left: 31.6%;
  top: 42.7%;
}

.guruTwo {
  /* transform: rotate(180deg); */
  position: fixed;
  top: 45%;
  left: 30%;
}

.tibetanRadioBtnTwo {
  position: fixed;
  left: 50%;
  top: 42.7%;
}

.tibetanTwo {
  position: fixed;
  top: 45%;
  left: 48%;
  transform: rotate(180deg);
}

.pemaRadioBtnTwo {
  position: fixed;
  left: 70.8%;
  top: 42.7%;
}

.pemaTwo {
  position: fixed;
  top: 45%;
  left: 69.3%;
  transform: rotate(180deg);
}

.zhabrugRadioBtnTwo {
  position: fixed;
  left: 90%;
  top: 42.7%;
}

.zhabrugTwo {
  position: fixed;
  top: 45%;
  left: 88.4%;
  transform: rotate(180deg);
}

.radioBtnFrstTwo {
  margin: 0;
  padding: 0;
  position: fixed;
}

.horizontalLine1,
.horizontalLine2 {
  animation: pulse 3s infinite;
}

.YearTwo div,
.Header {
  animation: textWave 5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textWave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
