.ManifestationCardImg {
  cursor: pointer;
  position: fixed;
  top: 70%;
  left: 25.5%;
  height: 210px;
  width: 150px;
}

.WideCards {
  position: fixed;
  left: 30.9%;
  top: 40%;
}

.fadeIn {
  animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
