.ManifestationCardImg {
  position: fixed;
  top: 80%;
  left: 25.5%;
  height: 210px;
  width: 150px;
  cursor: pointer;
  z-index: 20;
}

.ManifestationCardImg img {
  height: 210px;
  width: 150px;

}

.WideCards {
  position: fixed;
  left: 31.5%;
  top: 59%;
}


