/* PemaCards.module.css */
.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent overflow of the background image */
  position: relative;
}

@keyframes backgroundLoop {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.HistoricCard::before,
.LineageCard::before,
.LegacyCard::before,
.RevelationsCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/CardBgImg.png");
  background-size: 200% 100%;
  animation: backgroundLoop 10s ease-in-out infinite;
  opacity: 0.2; 
  z-index: 1; 
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.HistoricCard,
.LineageCard,
.LegacyCard,
.RevelationsCard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: left; 
z-index: 100;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  width: 180px;
  height: 80px;
  left: 67.5%;
  top: 83.5%;
  padding: 0.15vw;
}

.LineageCard {
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  padding: 0.2vw;
  top: 84.8%;
  left: 72.6%;
  height: 55px;
  width: 90px;
  cursor: pointer;
}

.RevelationsCard {
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  cursor: pointer;
  left: 68%;
  height: 80px;
  width: 190px;
  padding: 0.2vw;
  top: 88.2%;
}

.LegacyCard {
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 0.1vw;
  cursor: pointer;
  top: 88.3%;
  left: 73.5%;
  width: 100px;
  height: 60px;
}

.VerticalLine {
  width: 2px; /* Adjust width to your preference */
  background-color: black; /* Change color if needed */
  position: absolute; /* Position it as necessary */
  left: 50%; /* Center it horizontally */
  top: 0; /* Start from the top */
  transition: height 0.5s ease-out; /* Smooth transition for height */
}
