.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HistoricCard,
.LineageCard,
.LegacyCard,
.RevelationsCard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  width: 180px;
  height: 80px;
  left: 64.5%;
  top: 84.5%;
  padding: 0.15vw;
}

.LineageCard {
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  padding: 0.2vw;
  top: 86%;
  left: 69.7%;
  height: 50px;
  width: 90px;
  cursor: pointer;
}

.RevelationsCard {
  width: 250px;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  cursor: pointer;
  left: 65.8%;
  height: 80px;
  width: 150px;
  padding: 0.2vw;
  top: 89.2%;
}

.LegacyCard {
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 0.1vw;
  cursor: pointer;
  top: 89.2%;
  left: 70.3%;
  width: 100px;
  height: 60px;
}
