/* PemaCards.module.css */
.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent overflow of the background image */
  position: relative;
}

.HistoricCard::before,
.LineageCard::before,
.LegacyCard::before,
.RevelationsCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/CardBgImg.png"); /* Fixed the path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  opacity: 0.15; /* Adjust opacity as needed */
  z-index: 0; /* Ensure the background stays behind the content */
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.HistoricCard,
.LineageCard,
.LegacyCard,
.RevelationsCard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  width: 180px;
  height: 80px;
  left: 67.5%;
  top: 83.5%;
  padding: 0.15vw;
}

.LineageCard {
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  padding: 0.2vw;
  top: 84.8%;
  left: 72.6%;
  height: 55px;
  width: 90px;
  cursor: pointer;
}

.RevelationsCard {
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  cursor: pointer;
  left: 68%;
  height: 80px;
  width: 190px;
  padding: 0.2vw;
  top: 88.2%;
}

.LegacyCard {
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 0.1vw;
  cursor: pointer;
  top: 88.3%;
  left: 73.5%;
  width: 100px;
  height: 60px;
}
