.ManifestationCardImg {
  position: fixed;
  top: 90.5%;
  left: 25.5%;
  height: 210px;
  width: 150px;
  cursor: pointer;
  z-index: 20;
}

.WideCards {
  position: fixed;
  left: 31.5%;
  top: 79.5%;
}

.fadeIn {
  animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
