.ManifestationCardImg {
  position: fixed;
  top: 91%;
  left: 25.5%;
  height: 210px;
  width: 150px;
  cursor: pointer;
  z-index: 20;
}

.WideCards {
  position: fixed;
  left: 31.5%;
  top: 79.5%;
}

