.manifestationGroupContainer {
  position: fixed;
}

.manifestationGroupContainerImg {
  object-fit: fill;
  position: fixed;
  left: 27%;
  top: 82.2%;
  width: 200px;
  height: 340px;
  cursor: pointer;
}

.manifestationImg {
  object-fit: fill;
  border: 10px solid white; /* This adds a white border */
}

.manifestationFrstGroup {
  position: fixed;
  left: 21.5%;
  top: 89.5%;
}

.manifestationScndGroup {
  position: fixed;
  left: 32.8%;
  top: 79.5%;
}

.fadeIn {
  animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
