.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85%;
  left: 60%;
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}

.ArrivalCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #bd6c36;
  color: #fadfb6;
  padding: 0.6vw;
  width: 150px;
  height: 40px;
  top: 81%;
  left: 51%;
}

.SchoolsCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #7d431c;
  color: #fadfb6;
  padding: 0.7vw;
  width: 160px;
  height: 30px;
  top: 85.5%;
  left: 52.7%;
}


.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85%;
  left: 60%;
}


/* Add background image to ArrivalCard and SchoolsCard */
.ArrivalCard::before,
.SchoolsCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assests/BgImgs/CardBgImg.png"); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15; /* Background image opacity */
  z-index: 0; /* Ensure background stays behind content */
}

/* Ensure text content stays on top */
.ArrivalCard > *,
.SchoolsCard > * {
  z-index: 1; /* Content on top of the background */
}
