.manifestationGroupContainer {
  position: fixed;
}

.manifestationGroupContainerImg {
  object-fit: contain;
  position: fixed;
  left: 27%;
  top: 60%;
  width: 230px;
  height: 340px;
  cursor: pointer;
}

.manifestationImg{
  width: 230px;
  height: 350px;
  border: 10px solid white; 
  border-bottom: 10px solid white;
}

.manifestationFrstGroup {
  position: fixed;
  left: 22.3%;
  top: 71.5%;
}

.manifestationScndGroup {
  position: fixed;
  left: 33.6%;
  top: 60%;
}

.fadeIn {
  animation: fadeIn 1.2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
