@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.pemaContainer {
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.pemaText {
  position: fixed;
  width: 516px;
  height: 462px;
  bottom: 10.5vw;
  left: 54.5vw;
  color: white;
  margin: 0;
}

.YearText {
  margin: 0;
  font-weight: 300;
  font-size: 225px;
  font-family: "Josefin Sans";
}

.pemaImage {
  position: fixed;
  bottom: 17.5%;
  left: 65.6%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.pemaImage img {
  width: 355px;
  height: 422px;
  z-index: 10;
}

.pemaNameCard {
  position: fixed;
  background: #384e63;
  background-size: cover;
  top: 68.5%;
  right: 16%;
  width: 480px;
  height: 180px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.OverLayImage {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.pemaNameCardTitle {
  color: white; /* Text color */
  z-index: 1; /* Ensure text is above the image */
  position: relative; /* Ensure stacking context */
  text-align: center; /* Center text */
}

.namedCardText {
  font-size: 42px;
  font-family: "Josefin Sans";
}

.nameCardSubtitle {
  font-size: 42px;
  font-family: "Josefin Sans";
  color: white; /* Text color */
  z-index: 1; /* Ensure text is above the image */
  position: relative; /* Ensure stacking context */
  text-align: center; /* Center text */
}

.nameCardtitle {
  color: #380100;
}

.nameCardSubtitlecard {
  position: fixed;
  background: #ffd9bc;
  top: 69.5%;
  right: 16%;
  width: 480px;
  height: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.nameCardSubtitle {
  font-size: 1vw;
  font-weight: 800;
  color: #380100;
}

.detailCardFooter {
  position: fixed;
  top: 53vw;
  left: 63.5%;
  width: 80px;
  height: 80px;
  z-index: 1;
  cursor: pointer;
}

.PreviousIconContainer {
  position: fixed;
  height: 10vw;
  top: 44.5vw;
  left: 45%;
  z-index: 1;
  cursor: pointer;
}

.PreviousIcon {
  padding: 1.2vw;
  background: #193145;
  color: white;
  font-size: 1vw;
}

.LegacydetailCardHeader {
  position: fixed;
  bottom: 30%;
  left: 75.5%;
  z-index: 1;
  cursor: pointer;
}

.HistoricdetailCardHeader {
  position: fixed;
  bottom: 18.1%;
  left: 88%;
  z-index: 1;
  cursor: pointer;
  background: #380100;
  color: #9c3d22;
}

.HistoricIcon {
  padding: 1vw;
  background: #380100;
  color: #ffd9bc;
  font-size: 1vw;
}

.detailCardHeader {
  position: fixed;
  bottom: 17.1%;
  left: 87.5%;
  width: 120px;
  height: 120px;
  z-index: 1;
  cursor: pointer;
}

.icon {
  padding: 1vw;
  background: #193145;
  color: white;
  font-size: 1vw;
}

.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 78%;
  left: 69.5%;
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 42px;
  font-weight: 100;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  margin-top: 1vw;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0.8vw;
  width: 346px;
}

.LineageCard {
  font-weight: 700;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  padding: 1vw;
  font-size: 1.3vw;
  margin-top: 2.15vw;
  margin-left: 11vw;
  cursor: pointer;
}

.RevelationsCard {
  width: 389px;
  height: 195.6;
  padding: 0.8vw;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  margin-top: 6vw;
  margin-left: 1.6vw;
  cursor: pointer;
}

.LegacyCard {
  font-weight: 700;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 1.07vw;
  margin-top: 6vw;
  margin-left: 13.5vw;
  cursor: pointer;
}

.historyCards {
  position: fixed;
  display: flex;
  gap: 5%;
  margin-top: 30%;
  margin-left: 5%;
}

.HistoricDetailCard {
  position: fixed;
  font-size: 0.7vw;
  background: white;
  border-radius: 1vw;
  padding: 0.4vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 13vw;
  width: 30vw;
  left: 54%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;
}

.historicDetailHeader {
  position: fixed;
  bottom: 25%;
  left: 85%;
  z-index: 1;
  cursor: pointer;
}

.FamilCard {
  display: flex;
  position: fixed;
}

.FamilyHeader {
  position: fixed;
  background: #c76224;
  width: 342px;
  padding: 0.4vw;
  right: 5%;
  bottom: 34%;
  cursor: pointer;
}

.FamilyHeader p {
  font-size: 28px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.SonsCard {
  position: fixed;
  background: #c76224;
  width: 61px;
  right: 8.5%;
  bottom: 32.5%;
  border-radius: 1.5vw;
  border: 0.1vw solid #8f4110;
}

.SonsCard p {
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #380100;
  padding: 0;
  margin: 0;
}

.SonsList {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 26%;
  gap: 0.5vw;
  left: 84.6%;
}

.DrakpaGyalpos {
  width: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DrakpaGyalpos img {
  width: 68px;
  height: 96px;
  object-fit: fill;
}

.DrakpaGyalposCard,
.DawaGyaltshenCard,
.KuengaWangpoCard,
.SangdaCard {
  cursor: pointer;
  background: #c76224;
  width: 100px;
  padding: 0.4vw;
  text-align: center;
}

.DrakpaGyalposCard p,
.DawaGyaltshenCard p,
.KuengaWangpoCard p,
.SangdaCard p {
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #380100;
  padding: 0;
  margin: 0;
}

.VerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.6vw;
  left: 90.4%;
  bottom: 33%;
}

.SonsHorizontalLine {
  position: fixed;
  width: 3.9vw;
  height: 0.2vw;
  bottom: 32.8%;
  left: 85.9%;
  background-color: #8f4110;
}

.SonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.2vw;
  left: 85.9%;
  bottom: 32.5%;
}

.DrakpaGyalposVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.2vw;
  left: 85.6%;
  bottom: 24%;
}

.SonsTree {
  display: flex;
  flex-direction: column;
}

.ChoejeCard {
  position: fixed;
  background: #c76224;
  width: 61px;
  height: 26px;
  right: 13.5%;
  top: 76%;
  border-radius: 0.4vw;
  border: 0.1vw solid #8f4110;
}

.ChoejeCard p {
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #380100;
}

.Tamshing {
  position: fixed;
  top: 79%;
  left: 84.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tamshing img {
  width: 76px;
  height: 115px;
  object-fit: fill;
}

.TamshingCard {
  background: #c76224;
  width: 76px;
  padding: 0.4vw;
  text-align: center;
}

.TamshingCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.ChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.9vw;
  left: 85.5%;
  bottom: 21%;
}

/* kk */

.Sangda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sangda img {
  width: 68px;
  height: 96px;
  object-fit: fill;
}

.KuengaWangpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KuengaWangpo img {
  width: 68px;
  height: 96px;
  object-fit: fill;
}

.DawaGyaltshen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DawaGyaltshen img {
  width: 68px;
  height: 96px;
  object-fit: fill;
}

.Prakhar {
  position: fixed;
  top: 77%;
  left: 86.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Prakhar img {
  width: 76px;
  height: 115px;
  object-fit: fill;
}

.PrakharCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.PrakharCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.PrakharChoejeCard {
  position: fixed;
  background: #c76224;
  width: 61px;
  height: 26px;
  right: 10.2%;
  bottom: 23.5%;
  border-radius: 0.5vw;
  border: 0.1vw solid #8f4110;
}

.PrakharChoejeCard p {
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #380100;
  padding: 0;
  margin: 0;
}

.PrakharVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.6vw;
  left: 88.8%;
  bottom: 22.5%;
}

.DawaGyaltshenVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 88.9%;
  bottom: 25%;
}

/* kk */

.Kochung {
  position: fixed;
  top: 78.5%;
  left: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kochung img {
  width: 76px;
  height: 115px;
  object-fit: fill;
}

.KochungCard {
  background: #c76224;
  width: 76px;
  padding: 0.4vw;
  text-align: center;
}

.KochungCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungChoejeCard {
  position: fixed;
  background: #c76224;
  width: 61px;
  height: 26px;
  right: 5.5%;
  bottom: 23%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.KochungChoejeCard p {
  font-size: 10px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.6vw;
  left: 93.5%;
  bottom: 22%;
}

.KuengaWangpoVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.8vw;
  left: 93.5%;
  bottom: 24.5%;
}

.Bidung {
  position: fixed;
  top: 78.5%;
  left: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bidung img {
  width: 76px;
  height: 115px;
  object-fit: fill;
}

.BidungCard {
  background: #c76224;
  width: 76px;
  padding: 0.4vw;
  text-align: center;
}

.BidungCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungHorizontalLine {
  position: fixed;
  width: 3vw;
  height: 0.2vw;
  bottom: 22%;
  left: 92.5%;
  background-color: #8f4110;
}

.KochungVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 92.3%;
  bottom: 20%;
}

.BidungVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.4vw;
  left: 95.5%;
  bottom: 20%;
}

.KheriVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 89%;
  bottom: 11.5%;
}

.KheriVerticalLine2 {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 91%;
  bottom: 13%;
}

.DungkarVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 93.1%;
  bottom: 9.6%;
}

.DungkarHorizontalLine {
  position: fixed;
  width: 4.3vw;
  height: 0.2vw;
  bottom: 12.5%;
  left: 89%;
  background-color: #8f4110;
}

.Kheri {
  position: fixed;
  top: 88.5%;
  left: 87.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kheri img {
  width: 47px;
  height: 112px;
  object-fit: fill;
}

.KheriCard {
  background: #c76224;
  width: 102px;
  padding: 0.4vw;
  text-align: center;
}

.KheriCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KheriChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 10.5%;
  bottom: 25.6%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.KheriChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KheriChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 88%;
  bottom: 23.4%;
}

.Dungkar {
  position: fixed;
  top: 87.9%;
  left: 91.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dungkar img {
  width: 48px;
  height: 122px;
  object-fit: fill;
}

.DungkarCard {
  background: #c76224;
  width: 131px;
  height: 44px;
  text-align: center;
}

.DungkarCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Tsakaling {
  position: fixed;
  top: 76.8%;
  left: 83.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tsakaling img {
  width: 49px;
  height: 144px;
  object-fit: fill;
}

.TsakalingCard {
  background: #c76224;
  width: 140px;
  height: 44px;
  text-align: center;
}

.TsakalingCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Drophu {
  position: fixed;
  top: 77.9%;
  left: 87.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Drophu img {
  width: 61.8px;
  height: 121px;
  object-fit: fill;
}

.DrophuCard {
  background: #c76224;
  width: 120px;
  height: 44px;
  text-align: center;
}

.DrophuCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Drametse {
  position: fixed;
  top: 77%;
  left: 91.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Drametse img {
  width: 48px;
  height: 141px;
  object-fit: fill;
}

.DrametseCard {
  background: #c76224;
  width: 136px;
  height: 44px;
  text-align: center;
}

.DrametseCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Yagang {
  position: fixed;
  top: 78%;
  left: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Yagang img {
  width: 49px;
  height: 120px;
  object-fit: fill;
}

.YagangCard {
  background: #c76224;
  width: 120px;
  height: 44px;
  text-align: center;
}

.YagangCard p {
  font-size: 14px;
  font-family: "Josefin Sans";

  color: #380100;
}

.SangdaVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 97.3%;
  top: 74%;
}

.SangdaSonsCard {
  position: fixed;
  background: #c76224;
  width: 61px;
  height: 26px;
  right: 1.8%;
  bottom: 24%;
  border-radius: 1.5vw;
  border: 0.1vw solid #8f4110;
}

.SangdaSonsCard p {
  font-size: 10px;
  color: #380100;
  font-family: "Josefin Sans";
}

.SangdaDownVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.4vw;
  left: 97%;
  top: 75.8%;
}

.SangdaHorizontalLine {
  position: fixed;
  width: 11.5vw;
  height: 0.2vw;
  bottom: 23%;
  left: 85.5%;
  background-color: #8f4110;
}

.DawaGyaltshenSonsHorizontalLine {
  position: fixed;
  width: 0.4vw;
  height: 0.2vw;
  top: 67%;
  left: 89.5%;
  background-color: #8f4110;
}

.DawaGyaltshenDownSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.25vw;
  left: 89.4%;
  top: 67.5%;
}

.faded {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.KuengaWangpoSonsHorizontalLine {
  position: fixed;
  width: 2vw;
  height: 0.2vw;
  top: 67%;
  left: 91.4%;
  background-color: #8f4110;
}

.KuengaWangpoSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.3vw;
  left: 93.3%;
  top: 67%;
}

.SangdaSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.4vw;
  left: 97.3%;
  top: 67.1%;
}

.SangdaSonsHorizontalLine {
  position: fixed;
  width: 5.9vw;
  height: 0.2vw;
  top: 67%;
  left: 91.5%;
  background-color: #8f4110;
}

.SangdaDownSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 93.8%;
  top: 54%;
}

.SangdaThrdSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.8vw;
  left: 89.5%;
  top: 77%;
}

.SangdaScndSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.5vw;
  left: 92.9%;
  top: 77%;
}

.SangdaFrstSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 96.5%;
  top: 77%;
}

.SangdaFrthSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.55vw;
  left: 85.5%;
  top: 77%;
}

.SangdaFrthSonsHorizontalLine {
  position: fixed;
  width: 0.35vw;
  height: 0.2vw;
  top: 77.45%;
  left: 94.2%;
  background-color: #8f4110;
}

.RevelationsSideCards {
  display: flex;
  flex-direction: column;
}

.RevalationSideCardTextContainer {
  margin: 50px;
}

.NaringDragCard {
  cursor: pointer;
  text-align: left;
  width: 571px;
  height: 201px;
  left: 83.8vw;
  top: 45vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.NaringDragCard,
.BurningLakeCard {
  position: fixed;
  cursor: pointer;
}

.NaringDragCard img {
  position: fixed;
  width: 162px;
  height: 228px;
  object-fit: contain;
  left: 93vw;
  top: 43.5vw;
}

.NaringDragCardBookText {
  position: fixed;
  left: 90vw;
  top: 40vw;
  font-family: "Josefin Sans";
  font-size: 24px;
}

.BurningLakeCardText {
  position: fixed;
  left: 89.5vw;
  top: 45vw;
  width: 2vw;
  font-size: 1.4vw;
  font-weight: 800;
  color: #001829;
}

.BurningLakeCardBookText {
  position: fixed;
  left: 77.5vw;
  top: 44.4vw;
  width: 1vw;
}

.BurningLakeCard img {
  position: fixed;
  width: 162px;
  height: 228px;
  object-fit: contain;
  left: 85%;
  top: 49vw;
}

.BurningLakeCard {
  text-align: right;
  width: 571px;
  height: 201px;
  left: 83.7vw;
  top: 50.5vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.BurningLakeCardContainer {
  text-align: right;
  width: 18vw;
  left: 73vw;
  top: 43.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.BurningLakeCardContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 74vw;
  top: 44vw;
}

.NaringDragCardBookBurningLakeCardContainer {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 98px;
  width: 357px;
  left: 85vw;
  top: 53.5vw;
  color: white;
  position: fixed;
  background: #2b455d;
  cursor: pointer;
}

.NaringDragCardBookBurningLakeCardContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 72.5vw;
  top: 44vw;
}

.NaringDragCardBookTextContainer {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 98px;
  width: 357px;
  left: 85vw;
  top: 53.5vw;
  color: white;
  position: fixed;
  background: #2b455d;
  cursor: pointer;
}

.NaringDragCardBookTextContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 72.5vw;
  top: 44vw;
}

.NaringDragCardBookBurningLakeCardBookText {
  position: fixed;
  left: 74vw;
  top: 44.4vw;
  width: 1vw;
}

.RevelationsSideCardsfrst {
  font-family: "Josefin Sans";
  font-size: 24px;
  margin: 5px;
}

.RevelationsSideCardsScnd {
  font-family: "Hammersmith One";
  font-size: 42px;
  cursor: pointer;
  margin: 5px;
}

.NaringDragCardBookContainer {
  position: fixed;
  left: 67vw;
  top: 44vw;
  width: 673px;
  height: 474px;
  cursor: pointer;
}

.BookOpen {
  position: fixed;
  left: 57.5vw;
  top: 38.3vw;
  width: 673px;
  height: 474px;
  cursor: pointer;
}

.NaringDragCardBook {
  position: fixed;
  left: 88vw;
  top: 45vw;
  cursor: pointer;
}

.NaringDragCardBook img {
  width: 331px;
  height: 410px;
}

.NaringDragCardBookTextScnd {
  position: fixed;
  width: 277px;
  left: 88vw;
  top: 52.5vw;
  font-weight: 900;
  font-size: 49.3px;
  font-family: "Josefin Sans";
  color: white;
}

.PelingCard {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 120px;
  left: 84vw;
  top: 49vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  cursor: pointer;
}

.PelingCard img {
  position: fixed;
  width: 213px;
  height: 150px;
  object-fit: contain;
  left: 84vw;
  top: 45vw;
}

.PelingSideCardsScnd p {
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-family: "Hammersmith One";
}

.PelingDanceCard {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 130px;
  left: 94vw;
  top: 52.5vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  cursor: pointer;
}

.PelingDanceVideo {
  position: fixed;
  left: 88%;
}

.PelingDanceCard img {
  position: fixed;
  width: 213px;
  height: 113px;
}

.PelingSideCardsfrst {
  font-size: 24px;
  font-family: "Josefin Sans";
}

.MonsTemplesCardBook {
  position: fixed;
  left: 84vw;
  top: 43.5vw;
}

.MonsTemplesCardBook img {
  position: fixed;
  width: 581px;
  height: 475px;
  object-fit: fill;
}

.MonstariesAndTemplesImgsContainer {
  position: fixed;
  display: flex;
  gap: 0.5vw;
}

.MonstariesAndTemplesImgsContainerfrst {
  position: fixed;
  object-fit: fill;
  width: 463.69px;
  height: 419.61px;
  top: 44.5vw;
  right: 19.5vw;
}

.MonstariesAndTemplesImgsContainerScnd {
  position: fixed;
  object-fit: fill;
  width: 219.26px;
  height: 219.26px;
  left: 80vw;
  top: 78.5%;
}

.MonstariesAndTemplesImgsContainerThrd {
  display: flex;
  flex-direction: column;
  position: fixed;
  object-fit: fill;
  width: 218.93px;
  height: 167.27px;
  left: 85vw;
  top: 78.5%;
  gap: 0vw;
}

.MonstariesAndTemplesImgsContainerFrth {
  position: fixed;
  object-fit: fill;
  width: 250px;
  height: 260px;
  left: 90vw;
  top: 78.5%;
}

.MonstariesAndTemplesImgsPelingDanceCard {
  text-align: left;
  width: 180px;
  left: 90.5vw;
  top: 50vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  cursor: pointer;
  padding: 0.4vw;
}

.PelingSideCardsScnd {
  font-weight: 700;
  font-size: 1.3vw;
}

.PeilingVedio {
  position: fixed;
  left: 84%;
  top: 80.5%;
  width: 499px;
  height: 306px;
}

.PelingVedio img {
  width: 40%;
  height: 40%;
  object-fit: fill;
}

.PeilingVedioScnd {
  position: fixed;
  left: 67.5%;
  top: 79%;
}

.PeilingVedioScnd img {
  object-fit: fill;
  position: fixed;
  width: 586px;
  height: 471px;
}

.PelingVideoScndCard {
  left: 84%;
  top: 92.5%;
  position: fixed;
  width: 295px;
  height: 151px;
  background: #c9d7ee;
}

.PelingVideoScndCardFrstTitle p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Josefin Sans";
}

.PelingVideoScndCardcndTitle p {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-family: "Hammersmith One";
}

.NaringDragBookAnimate {
  position: fixed;
  left: 63%;
  top: 80%;
}
