.pemaContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.pemaText {
  position: fixed;
  margin-top: 5.5vw;
  margin-left: 18.5vw;
  font-size: 2.8vw;
  color: white;
}

.pemaImage {
  position: fixed;
  bottom: 27%; /* Set vertical position */
  left: 62%; /* Center the image horizontally */
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0; /* Remove margin to prevent any movement */
}

.pemaImage img {
  width: 6vw; /* Adjust as needed */
  height: auto;
  z-index: 10;
}

.pemaNameCard {
  position: fixed;
  background: #384e63;
  z-index: 1;
  padding: 1vw;
  border-radius: 0.5vw;
  top: 62.5%;
  left: 66.5%;
  cursor: pointer;
}

.nameCard {
  text-align: center;
}

.nameCardtitle {
  color: #380100;
}

.pemaNameCardTitle {
  color: white;
}

.nameCardSubtitlecard {
  position: fixed;
  background: #ffd9bc;
  z-index: 1;
  padding: 0.75vw;
  border-radius: 0.5vw;
  top: 63.5%;
  left: 66.63%;
  cursor: pointer;
}

.nameCardSubtitle {
  font-size: 1vw;
  font-weight: 800;
  color: #380100;
}

.detailCard {
  position: fixed;
  font-size: 0.7vw;
  background: white;
  border-radius: 1vw;
  padding: 0.4vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 13vw;
  width: 30vw;
  left: 54%;
  transform: translateX(-50%);
  display: flex;
}

.detailCardFooter {
  position: fixed;
  top: 48vw;
  left: 45%;
  z-index: 1;
  cursor: pointer;
}

.PreviousIconContainer {
  position: fixed;
  height: 10vw;
  top: 44.5vw;
  left: 45%;
  z-index: 1;
  cursor: pointer;
}

.PreviousIcon {
  padding: 1.2vw;
  background: #193145;
  color: white;
  font-size: 1vw;
}

.LegacydetailCardHeader {
  position: fixed;
  bottom: 30%;
  left: 75.5%;
  z-index: 1;
  cursor: pointer;
}

.HistoricdetailCardHeader {
  position: fixed;
  bottom: 30%;
  left: 75.5%;
  z-index: 1;
  cursor: pointer;
  background: #380100;
  color: #9c3d22;
}

.HistoricIcon {
  padding: 1vw;
  background: #380100;
  color: #ffd9bc;
  font-size: 1vw;
}

.detailCardHeader {
  position: fixed;
  bottom: 25%;
  left: 75.5%;
  z-index: 1;
  cursor: pointer;
}

.icon {
  padding: 1vw;
  background: #193145;
  color: white;
  font-size: 1vw;
}

.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70%;
  left: 63%;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  margin-top: 1vw;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 0.8vw;
  width: 10%;
}

.LineageCard {
  font-weight: 700;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  padding: 1vw;
  font-size: 1.3vw;
  margin-top: 2.15vw;
  margin-left: 12.5vw;
  cursor: pointer;
}

.RevelationsCard {
  font-weight: 700;
  width: 10%;
  padding: 0.8vw;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  margin-top: 6.4vw;
  margin-left: 1.6vw;
  font-size: 1.3vw;
  cursor: pointer;
}

.LegacyCard {
  font-weight: 700;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 1.07vw;
  margin-top: 8.09vw;
  font-size: 1.3vw;
  margin-left: 14vw;
  cursor: pointer;
}

.historyCards {
  position: fixed;
  display: flex;
  gap: 5%;
  margin-top: 30%;
  margin-left: 5%;
}

.HistoricDetailCard {
  position: fixed;
  font-size: 0.7vw;
  background: white;
  border-radius: 1vw;
  padding: 0.4vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 13vw;
  width: 30vw;
  left: 54%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;
}

.historicDetailHeader {
  position: fixed;
  bottom: 25%;
  left: 85%;
  z-index: 1;
  cursor: pointer;
}

.FamilCard {
  display: flex;
  position: fixed;
}

.FamilyHeader {
  position: fixed;
  background: #c76224;
  width: 8vw;
  padding: 0.4vw;
  right: 8%;
  bottom: 52%;
  cursor: pointer;
}

.FamilyHeader p {
  font-size: 0.9vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.SonsCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 10.8%;
  bottom: 47.5%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.SonsCard p {
  font-size: 0.6vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.SonsList {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 32%;
  gap: 0.5vw;
  left: 75%;
}

.DrakpaGyalpos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DrakpaGyalpos img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.DrakpaGyalposCard,
.DawaGyaltshenCard,
.KuengaWangpoCard,
.SangdaCard {
  cursor: pointer;
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.DrakpaGyalposCard p,
.DawaGyaltshenCard p,
.KuengaWangpoCard p,
.SangdaCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.VerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.1vw;
  left: 87.9%;
  bottom: 50%;
}

.SonsHorizontalLine {
  position: fixed;
  width: 9.5vw;
  height: 0.2vw;
  bottom: 49%;
  left: 77.3%;
  background-color: #8f4110;
}

.SonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 2.5vw;
  left: 77.29%;
  bottom: 44.2%;
}

.DrakpaGyalposVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 2vw;
  left: 77.4%;
  bottom: 28.5%;
}

.SonsTree {
  display: flex;
  flex-direction: column;
}

.ChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 21.3%;
  bottom: 25.5%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.ChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.Tamshing {
  position: fixed;
  top: 76.5%;
  left: 75.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tamshing img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.TamshingCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.TamshingCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.ChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 2vw;
  left: 77.4%;
  bottom: 22%;
}

.ChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 21.3%;
  bottom: 25.5%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.ChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

/* kk */

.Sangda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sangda img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.KuengaWangpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KuengaWangpo img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.DawaGyaltshen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DawaGyaltshen img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}
.Prakhar {
  position: fixed;
  top: 76.5%;
  left: 80.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Prakhar img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.PrakharCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.PrakharCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.PrakharChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 15.5%;
  bottom: 25.6%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.PrakharChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.PrakharVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 83%;
  bottom: 23.4%;
}

.DawaGyaltshenVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 83%;
  bottom: 29%;
}

/* kk */

.Kochung {
  position: fixed;
  top: 78.5%;
  left: 82.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kochung img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.KochungCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.KochungCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 10.5%;
  bottom: 25.6%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.KochungChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 88%;
  bottom: 23.4%;
}

.KuengaWangpoVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 88%;
  bottom: 29%;
}

.Bidung {
  position: fixed;
  top: 78.5%;
  left: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bidung img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.BidungCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.BidungCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungHorizontalLine {
  position: fixed;
  width: 6.5vw;
  height: 0.2vw;
  bottom: 23%;
  left: 84.9%;
  background-color: #8f4110;
}

.KochungVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 84.9%;
  bottom: 20%;
}

.BidungVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 91.2%;
  bottom: 20%;
}

.KheriVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 84.9%;
  bottom: 10%;
}

.DungkarVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 91.2%;
  bottom: 10%;
}

.Kheri {
  position: fixed;
  top: 89.5%;
  left: 82.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kheri img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.KheriCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.KheriCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KheriChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 10.5%;
  bottom: 25.6%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.KheriChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KheriChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 88%;
  bottom: 23.4%;
}

.KuengaWangpoVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 88%;
  bottom: 29%;
}

.Dungkar {
  position: fixed;
  top: 89.5%;
  left: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dungkar img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.DungkarCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.DungkarCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.Tsakaling {
  position: fixed;
  top: 78.5%;
  left: 80.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tsakaling img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.TsakalingCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.TsakalingCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.Drophu {
  position: fixed;
  top: 78.5%;
  left: 74.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Drophu img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.DrophuCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.DrophuCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.Drametse {
  position: fixed;
  top: 78.5%;
  left: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Drametse img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.DrametseCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.DrametseCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.Yagang {
  position: fixed;
  top: 78.5%;
  left: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Yagang img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: fill;
}

.YagangCard {
  background: #c76224;
  width: 4vw;
  padding: 0.4vw;
  text-align: center;
}

.YagangCard p {
  font-size: 0.85vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.SangdaVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 94%;
  top: 67.7%;
}

.SangdaSonsCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 4.5%;
  bottom: 25.5%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.SangdaSonsCard p {
  font-size: 0.6vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.SangdaDownVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 94%;
  top: 74.2%;
}

.SangdaHorizontalLine {
  position: fixed;
  width: 17vw;
  height: 0.2vw;
  bottom: 22.2%;
  left: 77.2%;
  background-color: #8f4110;
}

.DawaGyaltshenSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 87.8%;
  top: 52.2%;
}

.DawaGyaltshenSonsHorizontalLine {
  position: fixed;
  width: 5.4vw;
  height: 0.2vw;
  top: 54%;
  left: 82.6%;
  background-color: #8f4110;
}

.DawaGyaltshenDownSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 82.5%;
  top: 54%;
}

.faded {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.KuengaWangpoSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.9vw;
  left: 87.9%;
  top: 52.2%;
}

.SangdaSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 87.8%;
  top: 52.2%;
}

.SangdaSonsHorizontalLine {
  position: fixed;
  width: 6.1vw;
  height: 0.2vw;
  top: 54%;
  left: 87.8%;
  background-color: #8f4110;
}

.SangdaDownSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 93.8%;
  top: 54%;
}

.SangdaThrdSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.5vw;
  left: 88.2%;
  top: 77.8%;
}

.SangdaScndSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.5vw;
  left: 82.9%;
  top: 77.8%;
}

.SangdaFrstSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.65vw;
  left: 77%;
  top: 77.4%;
}

.SangdaFrthSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.55vw;
  left: 94.35%;
  top: 77.6%;
}

.SangdaFrthSonsHorizontalLine {
  position: fixed;
  width: 0.35vw;
  height: 0.2vw;
  top: 77.45%;
  left: 94.2%;
  background-color: #8f4110;
}

.RevelationsSideCards {
  display: flex;
  flex-direction: column;
}

.NaringDragCard {
  cursor: pointer;
  text-align: left;
  width: 18vw;
  left: 75vw;
  top: 38.5vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.NaringDragCard,
.BurningLakeCard {
  position: fixed;
  padding: 1vw;
  cursor: pointer;
}

.NaringDragCard img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 87vw;
  top: 35vw;
}

.NaringDragCardBookText {
  position: fixed;
  left: 88.9vw;
  top: 40vw;
  width: 1vw;
}

.BurningLakeCardText {
  position: fixed;
  left: 76.5vw;
  top: 38.5vw;
  width: 2vw;
  font-size: 1.4vw;
  font-weight: 800;
  color: white;
}

.BurningLakeCardBookText {
  position: fixed;
  left: 77.5vw;
  top: 44.4vw;
  width: 1vw;
}

.BurningLakeCard img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 76vw;
  top: 44vw;
}

.BurningLakeCard {
  text-align: right;
  width: 18vw;
  left: 75vw;
  top: 43.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.BurningLakeCardContainer {
  text-align: right;
  width: 18vw;
  left: 73vw;
  top: 43.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.BurningLakeCardContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 74vw;
  top: 44vw;
}

.NaringDragCardBookBurningLakeCardContainer {
  text-align: right;
  padding: 0.5vw;
  width: 19vw;
  left: 73vw;
  top: 43.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
  cursor: pointer;
}

.NaringDragCardBookBurningLakeCardContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 72.5vw;
  top: 44vw;
}

.NaringDragCardBookBurningLakeCardBookText {
  position: fixed;
  left: 74vw;
  top: 44.4vw;
  width: 1vw;
}

.RevelationsSideCardsfrst {
  font-size: 0.9vw;
}

.RevelationsSideCardsScnd {
  font-weight: 700;
  font-size: 1.3vw;
  cursor: pointer;
}

.NaringDragCardBookContainer {
  position: fixed;
  left: 60vw;
  top: 38.3vw;
  padding: 0.1vw;
  cursor: pointer;
}

.BookOpen {
  position: fixed;
  left: 57.5vw;
  top: 38.3vw;
  width: 15vw;
  cursor: pointer;
}

.NaringDragCardBook {
  position: fixed;
  left: 75vw;
  top: 37vw;
  padding: 0.1vw;
  cursor: pointer;
}

.NaringDragCardBook img {
  width: 10vw;
  height: 13vw;
}

.NaringDragCardBookTextScnd {
  position: fixed;
  left: 77.5vw;
  top: 46.5vw;
  width: 2vw;
  font-size: 1.4vw;
  font-weight: 800;
  color: white;
}

.PelingCard {
  text-align: left;
  width: 18vw;
  left: 75vw;
  top: 41.5vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  padding: 0.8vw;
  cursor: pointer;
}

.PelingCard img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 75vw;
  top: 35vw;
}

.PelingSideCardsfrst {
  font-size: 0.9vw;
}

.PelingSideCardsScnd {
  font-weight: 700;
  font-size: 1.3vw;
}

.PelingDanceCard {
  text-align: left;
  width: 4.5vw;
  left: 88.5vw;
  top: 46vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  padding: 0.8vw;
  cursor: pointer;
}

.PelingSideCardsfrst {
  font-size: 0.9vw;
}

.PelingSideCardsScnd {
  font-weight: 700;
  font-size: 1.3vw;
}

.MonsTemplesCardBook {
  position: fixed;
  left: 75vw;
  top: 38.3vw;
  padding: 0.1vw;
}

.MonsTemplesCardBook img {
  position: fixed;
  width: 15vw;
  height: 11vw;
  object-fit: fill;
}

.MonstariesAndTemplesImgsContainer {
  position: fixed;
  display: flex;
  gap: 0.5vw;
  left: 58vw;
  top: 38vw;
}

.MonstariesAndTemplesImgsContainerfrst {
  position: fixed;
  object-fit: fill;
  width: 15vw;
  top: 38vw;
  right: 30vw;
}

.MonstariesAndTemplesImgsContainerScnd {
  position: fixed;
  object-fit: fill;
  width: 7vw;
  left: 69vw;
}

.MonstariesAndTemplesImgsContainerThrd {
  position: fixed;
  object-fit: fill;
  width: 6vw;
  left: 75.5vw;
}

.MonstariesAndTemplesImgsContainerFrth {
  position: fixed;
  object-fit: fill;
  width: 8.5vw;
  left: 81.5vw;
}

.MonstariesAndTemplesImgsPelingDanceCard {
  text-align: left;
  width: 5.5vw;
  left: 82.3vw;
  top: 46vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  padding: 0.8vw;
  cursor: pointer;
}

.PelingSideCardsfrst {
  font-size: 0.9vw;
}

.PelingSideCardsScnd {
  font-weight: 700;
  font-size: 1.3vw;
}

.PelingVedio {
  position: fixed;
  left: 64.5%;
  top: 71.5%;
}

.PelingVedio img {
  width: 40%;
  height: 40%;
  object-fit: fill;
}

.book-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Adjust as needed */
  height: 400px;
  perspective: 1000px; /* For 3D effect */
}

.book-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.book-pages {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
}

.left-page,
.right-page {
  width: 45%; /* Adjust the width */
  height: auto;
}
