.GuruHistoricCard {
  position: fixed;
  background: #7d94af;
  color: #0c263b;
  font-family: "Hammersmith One";
  font-size: 15px;
  left: 32.8%;
  top: 41%;
  height: 80px;
  width: 190px;
  cursor: pointer;
}

.GuruHistoricCardImg {
  position: fixed;
  left: 33%;
  top: 48%;
  height: 200px;
  width: 190px;
}

.slideIn {
  animation: slideIn 0.8s ease-out forwards;
}

.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
