.pemaNameCard {
  position: fixed;
  background-size: cover;
  width: 350px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.5s ease, color 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.pemaNameCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assests/BgImgs/BgImgDeSaturated.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
}

.pemaNameCardTitle {
  margin: 20px;
  margin-bottom: 0;
  color: white;
  z-index: -1;
  position: relative;
  text-align: center;
}

.namedCardText {
  text-align: right;
  /* font-size: 42px; */
  font-size: 30px;
  font-family: "Josefin Sans";
  font-weight: 900;
}

.pemaNameCardTitle p {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: 800;
  font-family: "Josefin Sans";
  color: #6a1f11;
  z-index: 0;
  position: relative;
  text-align: right;
}

.para {
  padding: 0;
  font-size: 32px;
  margin-right:20px;
  font-weight: 800;
  font-family: "Josefin Sans";
  z-index: -1;
  position: relative;
  text-align: right;
}

.subCardnameContains {
  font-family: "Josefin Sans";
  font-weight: 900;
}
