@font-face {
  font-family: "Josefin Sans"; /* You can name this whatever you want */
  src: url("../../fonts/JosefinSans-ExtraLight.ttf") format("truetype"); /* Path to the font */
}

@font-face {
  font-family: "Hammersmith One"; /* You can name this whatever you want */
  src: url("../../fonts/HammersmithOne-Regular.ttf") format("truetype"); /* Path to the font */
}

.pemaContainer {
  position: fixed;
  top: 65%;
  left: 50%;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18vw;
}

.pemaText {
  position: fixed;
  left: 60%;
  bottom: 17%;
}

.pemaImage {
  position: fixed;
  bottom: 14.5%;
  left: 64.9%;
  transform: translate(-50%, -60%);
  z-index: 10;
  margin: 0;
}

.pemaImage img {
  object-fit: fill;
  width: 230px;
  height: 270px;
  z-index: 10;
}

.NameCardContainer {
  position: fixed;
  top: 77.8%;
  left: 69%;
}

.IntroCard {
  position: fixed;
  left: 66%;
  top: 83.9%;
}

.NaringDragCardContains {
  position: fixed;
  left: 62.3%;
  top: 85%;
}

.detailCardFooter {
  position: fixed;
  top: 53vw;
  left: 63.5%;
  width: 80px;
  height: 80px;
  z-index: 1;
  cursor: pointer;
}

.PreviousIconContainer {
  position: fixed;
  height: 10vw;
  top: 44.5vw;
  left: 45%;
  z-index: 1;
  cursor: pointer;
}

.PreviousIcon {
  padding: 1.2vw;
  background: #193145;
  color: white;
  font-size: 1vw;
}

.LegacydetailCardHeader {
  position: fixed;
  bottom: 30%;
  left: 75.5%;
  z-index: 1;
  cursor: pointer;
}

.HistoricdetailCardHeader {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 14%;
  left: 76.5%;
  z-index: 1;
  cursor: pointer;
  background: #380100;
  color: #9c3d22;
}

.HistoricIcon {
  padding: 0.65vw;
  width: 20px;
  background: #380100;
  color: #ffd9bc;
}

.detailCardHeader {
  position: fixed;
  bottom: 13.6%;
  left: 76.4%;
  z-index: 1;
  cursor: pointer;
}

.icon {
  padding: 0.65vw;
  width: 20px;
  background: #193145;
  color: white;
}

.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85%;
  left: 64.5%;
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 30px;
  font-weight: 100;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 0.3vw;
  width: 200px;
}

.LineageCard {
  font-weight: 700;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  padding: 0.6vw;
  top: 86%;
  left: 70.5%;
  cursor: pointer;
}

.RevelationsCard {
  width: 250px;
  padding: 0.3vw;
  position: fixed;
  background: #9c3d22;
  color: #ffd9bc;
  cursor: pointer;
  top: 90%;
  left: 65%;
}

.LegacyCard {
  position: fixed;
  font-weight: 700;
  background: #cd5a33;
  color: #ffd9bc;
  padding: 0.5vw;
  cursor: pointer;
  top: 90%;
  left: 65%;
}

.HistoricCardContains {
  position: fixed;
  left: 62.3%;
  top: 85%;
}

.historyCards {
  position: fixed;
  display: flex;
  gap: 5%;
  margin-top: 30%;
  margin-left: 5%;
}

.HistoricDetailCard {
  position: fixed;
  font-size: 0.7vw;
  background: white;
  border-radius: 1vw;
  padding: 0.4vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 13vw;
  width: 30vw;
  left: 54%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;
}

.historicDetailHeader {
  position: fixed;
  bottom: 25%;
  left: 85%;
  z-index: 1;
  cursor: pointer;
}

.FamilCard {
  display: flex;
  position: fixed;
}

.FamilyHeader {
  position: fixed;
  background: #c76224;
  width: 200px;
  padding: 0.2vw;
  right: 17.5%;
  bottom: 25%;
  cursor: pointer;
}

.FamilyHeader p {
  font-size: 25px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.SonsCard {
  position: fixed;
  background: #c76224;
  width: 45px;
  right: 19.5%;
  bottom: 23%;
  border-radius: 1.5vw;
  border: 0.1vw solid #8f4110;
}

.SonsCard p {
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #380100;
  padding: 0;
  margin: 0;
}

.SonsList {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 16%;
  gap: 0.3vw;
  left: 76.3%;
}

.DrakpaGyalpos {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DrakpaGyalpos img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.DrakpaGyalposCard,
.DawaGyaltshenCard,
.KuengaWangpoCard,
.SangdaCard {
  cursor: pointer;
  background: #c76224;
  width: 40px;
  padding: 0.1vw;
  text-align: center;
}

.DrakpaGyalposCard p,
.DawaGyaltshenCard p,
.KuengaWangpoCard p,
.SangdaCard p {
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #380100;
  padding: 0;
  margin: 0;
}

.VerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.8vw;
  left: 79.7%;
  bottom: 23.6%;
}

.SonsHorizontalLine {
  position: fixed;
  width: 5.8vw;
  height: 0.2vw;
  bottom: 22%;
  left: 77.2%;
  background-color: #8f4110;
}

.SonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.85vw;
  left: 77.2%;
  bottom: 20.5%;
}

.DrakpaGyalposVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.2vw;
  left: 77.2%;
  bottom: 14%;
}

.SonsTree {
  display: flex;
  flex-direction: column;
}

.ChoejeCard {
  position: fixed;
  background: #c76224;
  width: 50px;
  height: 20px;
  right: 21.9%;
  top: 86%;
  border-radius: 0.4vw;
  border: 0.1vw solid #8f4110;
}

.ChoejeCard p {
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #380100;
}

.Tamshing {
  position: fixed;
  top: 89%;
  left: 76.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tamshing img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.TamshingCard {
  background: #c76224;
  width: 70px;
  padding: 0.2vw;
  text-align: center;
}

.TamshingCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.ChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 77.2%;
  bottom: 11%;
}

/* kk */

.Sangda {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sangda img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.KuengaWangpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KuengaWangpo img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.DawaGyaltshen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DawaGyaltshen img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.Prakhar {
  position: fixed;
  top: 87.5%;
  left: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Prakhar img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.PrakharCard {
  background: #c76224;
  width: 1vw;
  padding: 0.4vw;
  text-align: center;
}

.PrakharCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.PrakharChoejeCard {
  position: fixed;
  background: #c76224;
  width: 50px;
  height: 20px;
  right: 19.4%;
  bottom: 13.6%;
  border-radius: 0.5vw;
  border: 0.1vw solid #8f4110;
}

.PrakharChoejeCard p {
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #380100;
  padding: 0;
  margin: 0;
}

.PrakharVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.6vw;
  left: 79.8%;
  bottom: 12.5%;
}

.DawaGyaltshenVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 79.7%;
  bottom: 14.8%;
}

/* kk */

.Kochung {
  position: fixed;
  top: 88%;
  left: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kochung img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.KochungCard {
  background: #c76224;
  width: 56px;
  padding: 0.2vw;
  text-align: center;
}

.KochungCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungChoejeCard {
  position: fixed;
  background: #c76224;
  width: 50px;
  height: 20px;
  right: 17.6%;
  bottom: 13%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.KochungChoejeCard p {
  font-size: 10px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.6vw;
  left: 93.5%;
  bottom: 22%;
}

.KuengaWangpoVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.8vw;
  left: 81.4%;
  bottom: 14.5%;
}

.Bidung {
  position: fixed;
  top: 88%;
  left: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bidung img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.BidungCard {
  background: #c76224;
  width: 56px;
  padding: 0.2vw;
  text-align: center;
}

.BidungCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KochungHorizontalLine {
  position: fixed;
  width: 3vw;
  height: 0.2vw;
  bottom: 22%;
  left: 92.5%;
  background-color: #8f4110;
}

.KochungVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 92.3%;
  bottom: 20%;
}

.BidungVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.4vw;
  left: 95.5%;
  bottom: 20%;
}

.KheriVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 89%;
  bottom: 11.5%;
}

.KheriVerticalLine2 {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 91%;
  bottom: 13%;
}

.DungkarVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.7vw;
  left: 93.1%;
  bottom: 9.6%;
}

.DungkarHorizontalLine {
  position: fixed;
  width: 4.3vw;
  height: 0.2vw;
  bottom: 12.5%;
  left: 89%;
  background-color: #8f4110;
}

.Kheri {
  position: fixed;
  top: 93%;
  left: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kheri img {
  width: 30px;
  height: 90px;
  object-fit: fill;
}

.KheriCard {
  background: #c76224;
  width: 70px;
  padding: 0.3vw;
  text-align: center;
}

.KheriCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
  padding: 0;
  margin: 0;
}

.KheriChoejeCard {
  position: fixed;
  background: #c76224;
  width: 1.5vw;
  padding: 0.4vw;
  right: 10.5%;
  bottom: 25.6%;
  border-radius: 1.5vw;
  border: 0.2vw solid #8f4110;
}

.KheriChoejeCard p {
  font-size: 0.59vw;
  color: #380100;
  padding: 0;
  margin: 0;
}

.KheriChoejeVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.3vw;
  left: 88%;
  bottom: 23.4%;
}

.Dungkar {
  position: fixed;
  top: 93.8%;
  left: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dungkar img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.DungkarCard {
  background: #c76224;
  width: 80px;
  height: 40px;
  text-align: center;
}

.DungkarCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Tsakaling {
  position: fixed;
  top: 88%;
  left: 76.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tsakaling img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.TsakalingCard {
  background: #c76224;
  width: 80px;
  height: 30px;
  text-align: center;
}

.TsakalingCard p {
  font-size: 10px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Drophu {
  position: fixed;
  top: 88%;
  left: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Drophu img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.DrophuCard {
  background: #c76224;
  width: 80px;
  height: 30px;
  text-align: center;
}

.DrophuCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Drametse {
  position: fixed;
  top: 88%;
  left: 81.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Drametse img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.DrametseCard {
  background: #c76224;
  width: 80px;
  height: 30px;
  text-align: center;
}

.DrametseCard p {
  font-size: 14px;
  font-family: "Josefin Sans";
  color: #380100;
}

.Yagang {
  position: fixed;
  top: 88%;
  left: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Yagang img {
  width: 50px;
  height: 70px;
  object-fit: fill;
}

.YagangCard {
  background: #c76224;
  width: 80px;
  height: 30px;
  text-align: center;
}

.YagangCard p {
  font-size: 14px;
  font-family: "Josefin Sans";

  color: #380100;
}

.SangdaVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 97.3%;
  top: 74%;
}

.SangdaSonsCard {
  position: fixed;
  background: #c76224;
  width: 61px;
  height: 26px;
  right: 19%;
  top: 85%;
  border-radius: 1.5vw;
  border: 0.1vw solid #8f4110;
}

.SangdaSonsCard p {
  font-size: 10px;
  color: #380100;
  font-family: "Josefin Sans";
}

.SangdaDownVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.4vw;
  left: 97%;
  top: 75.8%;
}

.SangdaHorizontalLine {
  position: fixed;
  width: 11.5vw;
  height: 0.2vw;
  bottom: 23%;
  left: 85.5%;
  background-color: #8f4110;
}

.DawaGyaltshenSonsHorizontalLine {
  position: fixed;
  width: 0.2vw;
  height: 1.2vw;
  top: 77%;
  left: 79.7%;
  background-color: #8f4110;
}

.DawaGyaltshenDownSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.25vw;
  left: 89.4%;
  top: 67.5%;
}

.faded {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.KuengaWangpoSonsHorizontalLine {
  position: fixed;
  width: 1vw;
  height: 0.2vw;
  top: 76.5%;
  left: 80.5%;
  background-color: #8f4110;
}

.KuengaWangpoSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1.2vw;
  left: 81.3%;
  top: 76.9%;
}

.SangdaSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.4vw;
  left: 97.3%;
  top: 67.1%;
}

.SangdaSonsHorizontalLine {
  position: fixed;
  width: 5.9vw;
  height: 0.2vw;
  top: 67%;
  left: 91.5%;
  background-color: #8f4110;
}

.SangdaDownSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 1vw;
  left: 93.8%;
  top: 54%;
}

.SangdaThrdSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.8vw;
  left: 89.5%;
  top: 77%;
}

.SangdaScndSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.5vw;
  left: 92.9%;
  top: 77%;
}

.SangdaFrstSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.7vw;
  left: 96.5%;
  top: 77%;
}

.SangdaFrthSonsVerticalLine {
  position: fixed;
  width: 0.2vw;
  background-color: #8f4110;
  height: 0.55vw;
  left: 85.5%;
  top: 77%;
}

.SangdaFrthSonsHorizontalLine {
  position: fixed;
  width: 0.35vw;
  height: 0.2vw;
  top: 77.45%;
  left: 94.2%;
  background-color: #8f4110;
}

.RevelationsSideCards {
  display: flex;
  flex-direction: column;
}

.RevalationSideCardTextContainer {
  margin: 30px;
}

.NaringDragCard {
  cursor: pointer;
  text-align: left;
  width: 360px;
  height: 133px;
  left: 74.7vw;
  top: 47.8vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.NaringDragCard,
.BurningLakeCard {
  position: fixed;
  cursor: pointer;
}

.NaringDragCard img {
  position: fixed;
  width: 100px;
  height: 140px;
  object-fit: fill;
  left: 80.8vw;
  top: 47vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.NaringDragCardBookText {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 81.2vw;
  top: 49.4vw;
  font-size: 20px;
  font-weight: 900;
}

.BurningLakeCardText {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 76vw;
  top: 48vw;
  width: 2vw;
  font-size: 0.8vw;
  font-weight: 800;
  color: #001829;
}

.BurningLakeCardBookText {
  position: fixed;
  left: 75.5vw;
  top: 52vw;
  width: 1vw;
  color: #2b455d;
  font-weight: 900;
  font-size: 18px;
}

.BurningLakeCard img {
  position: fixed;
  width: 100px;
  height: 140px;
  object-fit: fill;
  left: 75.3%;
  top: 51.8vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.BurningLakeCard {
  text-align: right;
  width: 360px;
  height: 125px;
  left: 74.7vw;
  top: 51.4vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.BurningLakeCardContainer {
  text-align: right;
  width: 18vw;
  left: 73vw;
  top: 43.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
}

.BurningLakeCardContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 74vw;
  top: 44vw;
}

.NaringDragCardBookBurningLakeCardContainer {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 55px;
  width: 220px;
  left: 74.8vw;
  top: 54.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
  cursor: pointer;
}

.NaringDragCardBookBurningLakeCardContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 72.5vw;
  top: 44vw;
}

.NaringDragCardBookTextContainer {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 55px;
  width: 220px;
  left: 75vw;
  top: 54.3vw;
  color: white;
  position: fixed;
  background: #2b455d;
  cursor: pointer;
}

.NaringDragCardBookTextContainer img {
  position: fixed;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: contain;
  left: 72.5vw;
  top: 44vw;
}

.NaringDragCardBookBurningLakeCardBookText {
  position: fixed;
  left: 74vw;
  top: 44.4vw;
  width: 1vw;
}

.RevelationsSideCardsfrst {
  font-family: "Josefin Sans";
  font-size: 15px;
  margin-top: 8px;
}

.RevelationsSideCardsScnd {
  font-family: "Hammersmith One";
  font-size: 20px;
  cursor: pointer;
  color: #001829;
}

.NaringDragCardBookContainer {
  position: fixed;
  left: 67vw;
  top: 44vw;
  width: 673px;
  height: 474px;
  cursor: pointer;
}

.BookOpen {
  position: fixed;
  left: 57.5vw;
  top: 38.3vw;
  width: 673px;
  height: 474px;
  cursor: pointer;
}

.NaringDragCardBook {
  position: fixed;
  left: 74.8vw;
  top: 47.8vw;
  cursor: pointer;
}

.NaringDragCardBook img {
  width: 215px;
  height: 310px;
  object-fit: fill;
}

.NaringDragCardBookTextScnd {
  position: fixed;
  width: 277px;
  left: 74vw;
  top: 53.5vw;
  font-weight: 900;
  font-size: 40px;
  color: white;
}

.PelingCard {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80px;
  left: 74.8vw;
  top: 50.6vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  cursor: pointer;
}

.PelingCard img {
  position: fixed;
  width: 213px;
  height: 100px;
  object-fit: contain;
  left: 74.1vw;
  top: 47.8vw;
}

.PelingSideCardsScnd p {
  font-size: 25px;
  padding: 0;
  margin: 0;
  font-family: "Hammersmith One";
}

.PelingDanceCard {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  left: 82vw;
  top: 52.9vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  cursor: pointer;
}

.PelingDanceCard img {
  left: 79%;
  top: 94%;
  position: fixed;
  width: 110px;
  height: 113px;
}

.PelingSideCardsfrst {
  font-size: 15px;
  font-family: "Josefin Sans";
}

.MonsTemplesCardBook {
  position: fixed;
  left: 73vw;
  top: 48vw;
}

.MonsTemplesCardBook img {
  position: fixed;
  width: 380px;
  height: 305px;
  object-fit: fill;
}

.MonstariesAndTemplesImgsContainer {
  position: fixed;
  display: flex;
  gap: 0.1vw;
}

.MonstariesAndTemplesImgsContainerfrst {
  position: fixed;
  object-fit: fill;
  width: 400px;
  height: 305px;
  top: 47.5vw;
  right: 29vw;
}

.MonstariesAndTemplesImgsContainerScnd {
  position: fixed;
  object-fit: fill;
  width: 150px;
  height: 150px;
  left: 69.5vw;
  top: 84.5%;
}

.MonstariesAndTemplesImgsContainerThrd {
  display: flex;
  flex-direction: column;
  position: fixed;
  object-fit: fill;
  width: 130px;
  height: 300px;
  left: 73vw;
  top: 84.5%;
  gap: 0vw;
}

.MonstariesAndTemplesImgsContainerThrd img {
  width: 130px;
  height: 300px;
}

.MonstariesAndTemplesImgsContainerFrth {
  position: fixed;
  object-fit: fill;
  width: 200px;
  height: 200px;
  left: 76vw;
  top: 86.2%;
}

.MonstariesAndTemplesImgsPelingDanceCard {
  text-align: left;
  width: 130px;
  left: 76.5vw;
  top: 53.2vw;
  color: white;
  position: fixed;
  background: #2b455d;
  position: fixed;
  cursor: pointer;
  padding: 0.4vw;
}

.PeilingVedio {
  position: fixed;
  left: 70.3%;
  top: 85%;
  width: 370px;
  height: 230px;
}

.PelingVedio img {
  width: 40%;
  height: 40%;
  object-fit: fill;
}

.PeilingVedioScnd {
  position: fixed;
  left: 62.3%;
  top: 85.5%;
}

.PeilingVedioScnd img {
  object-fit: fill;
  position: fixed;
  width: 500px;
  height: 300px;
}

.PelingVideoScndCard {
  left: 75.5%;
  top: 93.5%;
  position: fixed;
  width: 230px;
  height: 120px;
  background: #c9d7ee;
}

.PelingVideoScndCardFrstTitle p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Josefin Sans";
}

.PelingVideoScndCardcndTitle p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Hammersmith One";
}

.NaringDragBookAnimate {
  position: fixed;
  left: 59.5%;
  top: 85%;
}
