.cardsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85%;
  left: 30%;
}

.CardsContainerText {
  font-family: "Hammersmith One";
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  display: flex; /* Enable flexbox for cards */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.HistoricCard,
.ManifestationCard,
.PalaceCard {
  display: flex; /* Enable flexbox for cards */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  color: #fadfb6;
}

.HistoricCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #c87e12;
  color: #fadfb6;
  padding: 0.6vw;
  width: 100px;
  height: 50px;
  top: 40%;
  left: 29.5%;
}

.ManifestationCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #a06611;
  color: #fadfb6;
  padding: 0.7vw;
  width: 140px;
  height: 42px;
  top: 40%;
  left: 33.5%;
}

.PalaceCard {
  cursor: pointer;
  pointer-events: auto;
  position: fixed;
  background: #e4931d;
  color: #fadfb6;
  padding: 0.5vw;
  width: 170px;
  height: 42px;
  top: 54%;
  left: 30.6%;
}
